{% extends 'base.html' %}

{% load static %}
{% block title %}サークル紹介！{% endblock %}
{% block active_membership %}active{% endblock %}

{% block contents %}
  <div class="container my-div-style">
    {% if sorted_data %}
    <table id="result">
      <thead>
        <tr>
          <th>ジャンル</th>
          <th>年齢</th>
          <th>名前</th>
        </tr>
      </thead>
      <tbody>
        {% for genre, data in sorted_data %}
          {% for row in data %}
            <tr>
              {% if forloop.first %}
                <td rowspan="{{ data|length }}">{{ genre }}</td>
              {% endif %}
              <td>{{ row.age }}</td>
              <td>{{ row.name }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>会員用機能です。</p>
    <p>ファイルをアップロードすると、各ジャンルを希望した人の代と名前が表示されます。</p>
    <form id="upload-csv-form" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="csv_file" accept=".csv" required>
      <button type="submit">CSVファイルをアップロード</button>
    </form>
  {% endif %}
</div>
{% endblock %}