{% extends 'base.html' %}
{% load static %}

{% block title %}ジャンル分けの自動化|DLC{% endblock %}

{% block header%}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">DLC</h1>
      <h2 class="masthead-subheading mb-0">サークル紹介サイト</h2>
      <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">LOG IN</a>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
{% endblock %}

{% block contents %}
<form action="{% url 'csv_import' %}" method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="csv">
    <button type="submit">送信</button>
  </form>
{% endblock %}