{% extends 'base.html' %}
{% block title %}ジャンル提案！{% endblock %}
{% block active_proposing %}active{% endblock %}
{% block contents %}
<div class="container">
	<div class="my-div-style">
		<p>あなたの好みに合ったダンスのジャンルを提案します。</p>
		<h2>ジャンルリスト</h2>
		<ul>
			<li>Hiphop</li>
			<li>Break</li>
			<li>POP</li>
			<li>Girlshiphop</li>
			<li>Jazz</li>
			<li>House</li>
			<li>Lock</li>
			<li>Punking</li>
		</ul>
		<p>簡単な質問に答えると、ChatGPTがあなたの好みに合ったジャンルをいくつか提案します。</p>
		<p>きっと、あなたにぴったりのジャンルが見つかるはずです。</p>
		<form method="post" action="#">
			<button type="submit">ジャンル提案</button>
		</form>
	</div>
</div>

		
{% endblock %}